h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lucida Console", "Courier New", monospace !important;
  font-weight: bold !important;
  color: #03940f !important;
img {
  display: block;
  text-align: left;
}

body {
  text-align: justify;
}
pre {
  font-size: 13px !important;
}
